{% extends "layout.html.twig" %}

{% block title 'Gestion commandes' %}
    
{% block content %}
    <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Prix livraison</th>
                    <th>Total</th>
                    <th>Date commande</th>
                    <th>Etat</th>
                    <th width="200px"></th>
                </tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id_commande }}</td>
                        <td>{{ commande.prix_livraison }}</td>
                        <td>{{ commande.total }}</td>
                        <td>{{ commande.date_commande }}</td>
                        <td>{{ commande.etat }}</td>
                        <td>
                            {#<a href ="{{ path('admin_edit_commande', {id: commande.id_commande}) }}" class="btn btn-primary">Changer le statut de la commande</a>
                            <a href ="{{ path('admin_show_details', {id:commande.id_commande}) }} " class="btn btn-primary">Afficher les détails de la commande</a>
                            <a href ="{{ path('admin_delete_commande', {id: commande.id_commande}) }}" class="btn btn-danger">Supprimer la commande</a>#}
                        </td>
                    </tr>
                {% endfor %}
            </table>
                
            <table class="table">
                
            </table>
{% endblock %}