{% extends "layout.html.twig" %}


{#
    Faudra ajouter plus tard :
    - affectation productOrConfig en config ou produit
    - lien au click sur produit pour avoir tous les details
#}


{% block content %}
    {% for productOrConfig in basket %} {# On boucle sur le tableau 'basket' qui contient des de produits et configs #}

        {# Le if else va p'etre etre retiré (si mêmes champs pour config et produit) #}

        {% if productOrConfig.id_config is defined %} {# Si on est dans le cas d'une config => cad une chemise en demi-mesure #}

                    

        {% else %} {# Si on est dans le cas d'un produit => prêt à porter #}

            <table>    
                <th>
                    <td>Titre</td>
                    <td>Prix</td>
                    <td>Quantité</td>
                    <td colspan="2">Modifier la quantité</td>
                    <td>Retirer le produit du panier</td>
                </th>
                <tr>
                    <td>{{ productOrConfig.titre }}</td>
                    <td>{{ productOrConfig.prix }}</td>
                    <td>3</td> {# ATTENTION VALEUR EN DUR #}
                    <td><a href={{ path('basket_increment', {"id": loop.index}) }}> + </a></td>
                    <td><a href={{ path('basket_decrement', {"id": loop.index}) }}> - </a></td>
                    <td><a href={{ path('basket_delete', {"id": loop.index}) }}> Retirer le produit </a></td>
                </tr>
            </table>

        {% endif %}

    {% endfor %}

    
    {#
        Lien vers le paiement
    #}
    <a href="VOIR AVEC JULIEN PASILLASSON">Passer au paiement</a>

    
{% endblock %}