{% extends "layout.html.twig" %}

{#
    Faudra ajouter plus tard :
    - affectation productOrConfig en config ou produit
    - lien au click sur produit pour avoir tous les details
#}

{% for productOrConfig in productsAndConfigs %} {# On boucle sur le tableau de produits et configs #}

    {# Le if else va p'etre etre retiré (si mêmes champs pour config et produit) #}
    
    {% if id_config is defined %} {# Si on est dans le cas d'une config => cad une chemise en demi-mesure #}
        
        <th>
            <td>Titre</td>
            <td>Prix</td>
            <td>Quantité</td>
            <td colspan="2">Modifier la quantité</td>
            <td>Retirer le produit du panier</td>
        </th>
        <tr>
            <td>{{ productOrConfig.titre }}</td>
            <td>{{ productOrConfig.prix }}</td>
            <td>{{ productOrConfig.quantite }}</td>
            <td><a href={{ path('basket_edit', loop.index, '+') }}>+</a></td>
            <td><a href={{ path('basket_edit', loop.index, '-') }}>-</a></td>
            <td><a href={{ path('delete_edit', loop.index) }}>Retirer le produit</a></td>
        </tr>
        
    {% else %} {# Si on est dans le cas d'un produit => prêt à porter #}

        <th>
            <td>Titre</td>
            <td>Prix</td>
            <td>Quantité</td>
            <td colspan="2">Modifier la quantité</td>
            <td>Retirer le produit du panier</td>
        </th>
        <tr>
            <td>{{ productOrConfig.titre }}</td>
            <td>{{ productOrConfig.prix }}</td>
            <td>{{ productOrConfig.quantite }}</td>
            <td><a href={{ path('basket_edit', loop.index, '+') }}>+</a></td>
            <td><a href={{ path('basket_edit', loop.index, '-') }}>-</a></td>
            <td><a href={{ path('delete_edit', loop.index) }}>Retirer le produit</a></td>
        </tr>
        
    {% endif %}
    
{% endfor %}

{#
    Lien vers le paiement
#}
<a href="VOIR AVEC JULIEN PASILLASSON">Passer au paiement</a>